/**
 * Just testing stuff in here
 */

/*import screen.css as a base */
@import url('screen.css');

/* Template Adjustments */
#LeftSideBar, #RightSideBar{
    float: left;
    width: 20%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-right: 0;
    border-top: #A8BBD3 solid 0.3em;
    border-right: 0.25em solid #C1D1E0;
}

#LeftSideBar {
    margin-left: -99%;
}

#Content{
    float: left;
    width: 55%;
    margin-left: 22%;
    margin-right: 22%;
}

#RightSideBar{
    margin-left: -21%;
}

.article
{
    clear: both;
    border: none;
    background-color: #efefef;
    margin: 1em;
    padding: 1em;
    border-bottom: 0.2em dotted #000000;
}

.article h2
{
    margin: 0;
    padding: 0;
}

/* Typographic Headers */
h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0.5em;
    font-family: serif;
    text-transform:capitalize;
} 

p {
    line-height: 1.2em;
}

pre {
    margin-left: 2.5em;
    border-left: 0.5em solid #ccd;
    padding: 1em 2.5em;
    background-color: #dde;
}
