/*Start of top area formatting*/
body {
    background: #C6C6C6; /*made it random so we can see the outlines*/
    font-size: 90%;
    font-family: Verdana, sans-serif;
}

#Header {
    background: #eff0f1 url("../images/BG1R.png");
    background-size: 100%;
    border-bottom: #8699B1 0.3em solid;
    border-top: #7588A0 0.3em solid;
    margin-bottom: 0.5em;
}   
	      
#LogoBar {
    min-height: 100px;      	      	
    min-width: 98%;
    font-family: helvetica, sans-serif;
    vertical-align: middle;    
}
	    
#LogoBar img{
    float: left;
    margin-right: 1.5em;
}
       
#MenuBar li {
    float: right;
    min-width: 5.5em;
    border-color: transparent;
    border-bottom: #FFF 0.2em solid;
    padding: 0.1em;
    list-style-type: none;
    text-align: center;
    margin-top: -0.2em;
}

#MenuBar {
    clear: both;
    float: right;
    border: 0.2em solid transparent;
    border-bottom: #FFF;
    padding: 0.1em;
    max-height: 0.2em;
}

#MenuBar #current_page{
    border-bottom: #000 solid;
} 

#MenuBar li a {
    font-size: 1em;
    font-family: sans-serif;
    text-decoration: none;
    font-color: #000;
    color: #000;
}
	      
#MenuBar li:hover {
    border-bottom: 0.2em solid #B9CCE4;
}

#MenuBar #current_page:hover{
}

#MenuBar li ul {
    display:none;
} 
#MenuBar li:hover ul {
    display:block;
    position:absolute;
    margin-left: 0;
    margin-top: 0.1em;
    padding: 0;
    background-color: #8699B1;
}
#MenuBar li:hover li{
   float: right;
   margin-top: 0.3em;
   clear: both;
}
      
#breadcrumbs {
    float: left;
    clear: right;
    max-height: 0.5em;
  	font-size: 0.8em;
  	margin-top: -0.4em;
  	margin-left: -3em;
    margin-bottom: 1em;
}

#breadcrumbs li {
    list-style-type: none;
}

#breadcrumbs li a {
    font-family: helvetica, sans-serif;
    text-decoration: none;
}

/*start of main content area layout*/  

.MainWrapper{
    clear: both;
    overflow: hidden;      
}

.SideBar, #Content{
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    background: url('../images/BG2R.png') repeat-x #eff0f1;
}
      
#LeftSideBar {
    float: left;
    width: 13em;
    border-top: #A8BBD3 solid 0.3em;
    border-right: 0.25em solid #C1D1E0;
    margin-right: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;	
}

#LeftSideBar li{
    list-style-type: circle;
}
      	
#Content {
    margin-left: 5em;
    border-top: #A8BBD3 solid 0.3em;
    border-right: 0.25em solid #C1D1E0;
    font-family: Verdana, sans-serif;
}

#Content h2 {
    margin-left:1em;
    font-size:1.5em;  	
}

.article{
    border:0.1em #C1D1E0 inset;
    background-color:#FFF;
    margin: 2em;
    width:85%;
    padding: 0.5em;
    font-size:0.95em;
    line-height:1.2em;      	
}
      
#Content img{
    float: right;
    clear: right;
}

.postInfo{
    clear: both;
}

#RightSideBar {
    float:right;
    border-top: #A8BBD3 solid 0.3em;
    border-right: 0.25em solid #C1D1E0;
    margin-right: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width:12em;      	           
}

#Content #creativeCommons {
    float:none;
    clear:none;
    margin-left:auto;
    margin-right:auto;
}
      	
#Content #Introduction {
    margin-left:auto;
    margin-right:auto;
    font-family: Verdana, sans-serif;
    background-color:#EFF0F1;
    margin-top:2em;
    margin-bottom:1.5em;
    width:75%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left:0.5em;
    padding-right:0.5em;
    font-size:0.9em;
    line-height:1.2em;
}
      	
 /*All the legal fun */
#Content #LegalAndAllThatShizzle {
    clear: both;
    background:url('../images/BG1R.png');
    padding:0.4em;
    text-align:center;
    font-size:0.7em;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    position:inherit;
    bottom:0px;
    border:none; 
    width:98%;
}
